* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* transform: rotate(-30deg); */
}


.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  background: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  position: relative; /* Add position relative */
  border: 15px solid transparent;
  animation: circle 1s forwards;
  animation-delay: 1.2s; /* Add a delay of 1 second */
}

@keyframes circle {
  to {
    border: 15px solid black;
  }
}

.container {
  position: relative;
  height: 300px;
  width: 300px;
}

.bar1,
.bar2,
.bar3,
.bar4,
.bar5 {
  position: absolute;
  background: #000000;
  width: 40px;
  animation: fadeIn 1s ease-in-out forwards;
}

/* bar 1 */
.bar1 {
  height: 238px;
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  animation: animation-bar1 1s ease-in-out forwards, fadeIn 1s ease-in-out forwards;
}

@keyframes animation-bar1 {
  from {
    transform: translate(0, -300px);
  }
  to {
    transform: translate(0, 0);
  }
}

/* bar 2 */
.bar2 {
  right: 0;
  height: 300px;
  clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
  animation: animation-bar2 1s ease-in-out forwards, fadeIn 1s ease-in-out forwards;
}

@keyframes animation-bar2 {
  from {
    transform: translate(0, 400px);
  }
  to {
    transform: translate(0, 0);
  }
}

/* bar 3 */
.bar3 {
  left: -40px;
  bottom: 60px;
  height: 340px;
  transform: rotate(45deg);
  transform-origin: bottom right;
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%);
  animation: animation-bar3 1s ease-in-out forwards, fadeIn 1s ease-in-out forwards;
}

@keyframes animation-bar3 {
  from {
    left: -340px;
    bottom: -340px;
  }
  to {
    left: -30;
    bottom: 60px;
  }
}

/* bar 4 */
.bar4 {
  bottom: 0px;
  left: 0;
  height: 425px;
  transform: rotate(45deg);
  transform-origin: bottom left;
  clip-path: polygon(0 0, 100% 10%, 100% 91%, 0% 100%);
  animation: animation-bar4 1s ease-in-out forwards, fadeIn 1s ease-in-out forwards;
}

@keyframes animation-bar4 {
  from {
    bottom: 425px;
    left: 400px;
  }
  to {
    bottom: 0;
    left: 0;
  }
}

/* bar 5 */
.bar5 {
  right: 0;
  bottom: 0;
  height: 228px;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  animation: animation-bar5 1s ease-in-out forwards, fadeIn 1s ease-in-out forwards;
}

@keyframes animation-bar5 {
  from {
    bottom: -425px;
    right: -400px;
  }
  to {
    bottom: 0;
    right: 0;
  }
}
